@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/opacity";

x-modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width:100%;

    overflow: auto;

    background: white;
    border: 1px solid #333;

    z-index: 1; // pour pouvoir passer au-dessus de la launchbar si trop grand
}

.x-modal-wrapper-content {
    display:block;
    margin: 5% auto 5% auto;
    width:auto;
    max-width:60%;
    min-width:40%;
    position:relative;
}

.x-modal-title {
    background: lightblue;
    position: relative;
    min-height: 20px;
    padding-right: 25px;
}

.x-modal-close {
    position: absolute;
    top: 4px;
    right: 3px;
    &:before {
        content: "X";
    }
}

x-modal[hidden] {
    display: none;
}

.x-modal-overlay {
    position: absolute;
    top: -10000px;
    right: -10000px;
    bottom: -10000px;
    left: -10000px;
    background: black;
    @include opacity(0.5);
    display: block;
}

.x-modal-overlay[hidden] {
    display: none;
}